<main  class="container col-md-6 col-lg-5">
  
  <p>
    <strong>Username:</strong>
    <%= @profile.username %>
  </p>
  
  <p>
    <strong>First name:</strong>
    <%= @profile.first_name %>
  </p>
  
  <p>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
  </p>
  
  <p>
    <strong>Avatar:</strong>
    <%= link_to @profile.avatar.filename, @profile.avatar if @profile.avatar.attached? %>
  </p>

  
  <%= button_to 'Edit', edit_profile_path(@profile), :method => "get", class:"btn btn-primary" %>
</main>
