<main class="container justify-content-around align-items-center m-auto">
  
  <div class="">

      
    <% if current_user.profile.id == params[:id].to_i %>
      <%= button_to 'Edit profile', edit_profile_path(@profile), :method => "get", class:"btn btn-primary" %>
    <% end %>


    <p>
      <strong>Username:</strong>
      <%= @profile.username %>
    </p>
    
    <% if current_user.id == params[:id].to_i %>
      <p>
        <strong>Name:</strong>
        <%= @profile.first_name %> <%= @profile.last_name %>
      </p>
    <% end %>

    <p>
      <strong>Rating:</strong>
    
    </p>
    <p>
      <strong>Avatar:</strong>
      <%= link_to @profile.avatar.filename, @profile.avatar if @profile.avatar.attached? %>
    </p>


  
  </div>

  <div class="seller-listings">
    <h2>
      <% if current_user.profile.id != @profile.id %>
        <%= @profile.username %>'s
      <% else %>
        Your
      <% end %>
      items for sale
    </h2>
    <% if (@sold).present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @current_listings.each do |listing| %>
              <tr>
                <td><%= link_to listing.name.upcase_first, listing %></td>
                <td><%= listing.artist.name.titlecase %></td>
                <td>$<%= number_with_precision(listing.price, precision: 2, :delimiter => ',') %></td>
                <td><%= listing.description.truncate(140) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
    No items currently for sale
  <% end %>

    <% if (current_user.profile.id == @profile.user_id) && (@sold).present?  %>
      <h2>Your sold items</h2>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist</th>
          <th>Price</th>
          <th>Date sold (DD/MM/YY)</th>
          <th>Buyer email</th>
        </tr>
      </thead>
      <tbody>
        <% @sold.each do |listing| %>
            <tr>
              <td><%= link_to listing.name.upcase_first, listing %></td>
              <td><%= listing.artist.name.titlecase %></td>
              <td>$<%= number_with_precision(listing.price, precision: 2, :delimiter => ',') %></td>
              <td><%= listing.updated_at.to_time.strftime("%d/%m/%Y") %></td>
              <td><%= listing.order.buyer.user.email %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%end%>


   <% if (current_user.profile.id == @profile.user_id) && (@bought).present?  %>
      <h2>Items you have bought</h2>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist</th>
          <th>Price</th>
          <th>Date bought (DD/MM/YY)</th>
          <th>Seller email</th>
        </tr>
      </thead>
      <tbody>
        <% @bought.each do |order| %>
            <tr>
              <td><%= link_to order.listing.name.upcase_first, listing_path(order.listing.id) %></td>
              <td><%= order.listing.artist.name.titlecase %></td>
              <td>$<%= number_with_precision(order.listing.price, precision: 2, :delimiter => ',') %></td>
              <td><%= order.listing.updated_at.to_time.strftime("%d/%m/%Y") %></td>
              <td><%= order.listing.seller.user.email %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%end%>

  </div>
</main>
