<main class="container justify-content-around align-items-center m-auto">
  
<div class="card mb-3 mt-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    
    <div class="col-md-4 p-2">
      <% if @profile.avatar.present? %>
        <%= image_tag(@profile.avatar, class:"d-block avatar mx-auto", alt:"profile image") %>
      <% else %>
        <%= image_tag('defaultprofilepic.jpeg', class:"d-block avatar default-avatar mx-auto", alt:"profile image") %>
      <% end %>
    </div>
    
    
    <div class="col-md-8 mx-auto text-center">
      <div class="card-body">
        <h2 class="card-title"><%= @profile.username %></h2>
        <% if user_signed_in? && (current_user.id == params[:id].to_i) %>
          <p class="card-text">
            <strong>Name:</strong>
            <%= @profile.first_name %> <%= @profile.last_name %>
          </p>
        <% end %>
        <p class="card-text">
          <strong>Rating: </strong><small class="text-muted">Not yet rated</small>
        </p>

        <p class="card-text">
          <strong>Member since: </strong><small class="text-muted"><%= @profile.created_at.to_time.strftime("%d/%m/%Y") %></small>
        </p>
        
        <% if user_signed_in? && (current_user.profile.id == params[:id].to_i) %>
          <%= button_to 'Edit profile', edit_profile_path(@profile), :method => "get", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <div class="seller-listings">

    <% if current_user.profile.id == @profile.id %>
      <h2 class="">Your items for sale</h2>
      <%= button_to 'Sell an item', new_listing_path, :method => "get", class:"btn btn-primary" %>
    <% else %>
      <h2 class=""><%= @profile.username %>'s items for sale</h2>
    <% end %>

    <% if @current_listings.present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @current_listings.each do |listing| %>
              <tr>
                <td><%= link_to listing.name.upcase_first, listing %></td>
                <td><%= listing.artist.name.titlecase %></td>
                <td>$<%= number_with_precision(listing.price, precision: 2, :delimiter => ',') %></td>
                <td><%= listing.description.truncate(140) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
    No items currently for sale
  <% end %>

    <% if user_signed_in? %>
      <% if (current_user.profile.id == @profile.user_id) && (@sold).present?  %>
        <h2 class="">Your sold items</h2>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
            <th>Date sold (DD/MM/YY)</th>
            <th>Buyer email</th>
          </tr>
        </thead>
        <tbody>
          <% @sold.each do |listing| %>
              <tr>
                <td><%= link_to listing.name.upcase_first, listing %></td>
                <td><%= listing.artist.name.titlecase %></td>
                <td>$<%= number_with_precision(listing.price, precision: 2, :delimiter => ',') %></td>
                <td><%= listing.updated_at.to_time.strftime("%d/%m/%Y") %></td>
                <td><%= listing.order.buyer.user.email %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <%end%>
    <% end %>

  <% if user_signed_in? %>
    <% if (current_user.profile.id == @profile.user_id) && (@bought).present?  %>
        <h2 class="">Items you have bought</h2>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Price</th>
            <th>Date bought (DD/MM/YY)</th>
            <th>Seller email</th>
          </tr>
        </thead>
        <tbody>
          <% @bought.each do |order| %>
              <tr>
                <td><%= link_to order.listing.name.upcase_first, listing_path(order.listing.id) %></td>
                <td><%= order.listing.artist.name.titlecase %></td>
                <td>$<%= number_with_precision(order.listing.price, precision: 2, :delimiter => ',') %></td>
                <td><%= order.listing.updated_at.to_time.strftime("%d/%m/%Y") %></td>
                <td><%= order.listing.seller.user.email %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    <% end %>

  </div>
</main>
