
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Item", placeholder:"eg. Signed poster" %>

    <%= f.input :artist, label: "Artist or Band", :input_html => { :value => "#{@artist_name}" } %>
    
    <%= f.input :price, label: "Price ($)" %>
    
    <%= f.input :images, as: :file, input_html: { accept: "image/jpeg, image/jpg, image/png" } %>

    <%= f.input :description, placeholder:"Relevant details such as history and condition of the item." %>

    <%= f.input :status, as: :hidden, input_html: { value: "For Sale" } %>

    <%= f.input :seller_id, as: :hidden, input_html: { value: current_user.id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
    <%= button_to 'Cancel', listings_path, :method => "get", class:"btn btn-primary btn-light" %> 
