<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @listing.artist_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Images:</strong>
  <% @listing.images.each do |image| %>
    <div><%= link_to image.filename, image %></div>
  <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
