<main  class="container col-md-6 col-lg-5">
  
  <p>
    <strong>Name:</strong>
    <%= @listing.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= @listing.artist.name %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= number_with_precision(@listing.price, precision: 2, :delimiter => ',') %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Images:</strong>
    <% @listing.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @listing.status %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= @listing.seller.id %>
    <%= @listing.seller.username %> (Seller rating)
  </p>

  <%= button_to 'Edit', edit_listing_path(@listing), :method => "get", class:"btn btn-primary" %>
</main>