<main class="container">

<div class="listing-header">
  <h1 class="text-center"><%= @listing.name %></h1>
  <h2 class="text-center"><%= @listing.artist.name %></h2>
</div>

<div class="listing d-flex flex-wrap ">
  
  
  <div id="listing-carousel" class="carousel slide col-sm-6" data-bs-ride="carousel">
    <% if @listing.images.exists? %>

      <div class="carousel-inner">

        <% @listing.images.each do |image| %>
          <div class="carousel-item active">
            <%= link_to image_tag(image, class:"d-block w-100"), image %>
          </div>
        <% end %>

      </div>

      <% if @listing.images.second != nil %>
        <button class="carousel-control-prev" type="button" data-bs-target="#listing-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#listing-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% end %>

    <% else %>

      <%= image_tag "no-image.png", class:"card-img-top", alt:"test" %>

    <% end%>
  </div>
  
  
  
  <div class="card col-sm-6">
    <div class="card-body">
      <p class="card-text"><strong>Description:</strong> <%= @listing.description %></p>
      <p class="card-text"><strong>Price:</strong> $<%= number_with_precision(@listing.price, precision: 2, :delimiter => ',') %></p>
      <p class="card-text"><strong>Status:</strong> <%= @listing.status %></p>

      <% if current_user.profile.id == @listing.seller.id %>
        <%= button_to 'Edit', edit_listing_path(@listing), :method => "get", class:"btn btn-primary" %>
      <% else %>
        <%= button_to 'Buy', "#", :method => "get", class:"btn btn-primary" %> <span style="color: red;">^^ STILL NEED TO WIRE THIS UP</span>
      <% end %>
    
    </div>
  </div>
</div>


  <div class="listing-seller">
    <h3 class="text-center">Seller information</h3>
    <p class="text-center"><strong>Seller:</strong> <%= @listing.seller.username %></p>
    <p class="text-center"><strong>Rating:</strong> </p>
    <p class="text-center"><%= link_to "View sellers other listings", '#' %></p>
  </div>

  
</main>