

<div class="hero d-flex justify-content-around align-items-center m-auto">

    <div class="justify-content-center  col-md-5 col-lg-4">
        <h1>The marketplace for all things music</h1>
        <p>Search by artist</p>
        <%= form_with url: "/search", class:"row m-0", method: :get do |form| %>
            <div class="col-8 pe-0">
                <%= form.text_field :query, placeholder:"eg. Green Day", class:"form-control" %>
            </div>
            <div class="col-4">
                <%= form.submit "Search", class:"btn btn-primary w-100" %>
            </div>
        <% end %>
    </div>
</div>

<section class="featured">
    <h2>Featured listings</h2>


    <div class="featured-listings container d-flex flex-wrap justify-content-around">

            <div class="card" style="width: 18rem;">
            <%= image_tag "guitar.jpeg", class:"card-img-top", alt:"test" %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p><strong>$999</strong></p>
                    <p class="card-text">Description text related to the item goes here</p>
                    <a href="#" class="btn btn-primary">View Listing</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
            <%= image_tag "guitar.jpeg", class:"card-img-top", alt:"test" %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p><strong>$999</strong></p>
                    <p class="card-text">Description text related to the item goes here</p>
                    <a href="#" class="btn btn-primary">View Listing</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <%= image_tag "guitar.jpeg", class:"card-img-top", alt:"test" %>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p><strong>$999</strong></p>
                    <p class="card-text">Description text related to the item goes here</p>
                    <a href="#" class="btn btn-primary">View Listing</a>
                </div>
            </div>
    </div>
</section>